<nav id="menu-lateral">
    <img src="INSERIR LINK" alt="Logo Mack + aTech">
    <header id="navbar-title">CONTADOR DE GENTE</header>
    <p><a class="item-menu">MENU</a></p>
    <div class="secao-menu">
        <div class="header-menu">
            <p><a class="header-menu-title" routerLink="dashboard">Dashboard</a></p>
        </div>
        <p><a class="item-menu">Por Local</a></p>
        <p><a class="item-menu">Estatísticas</a></p>
        <p><a class="item-menu">Período</a></p>
        <p><a class="item-menu">Personalizado</a></p>
    </div>
    <div class="secao-menu">
        <div class="header-menu">
            <p><a class="header-menu-title" routerLink="usuarios">Usuários</a></p>
        </div>
        <p><a class="item-menu">Usuário atual</a></p>
    </div>
    <div class="secao-menu">
        <div class="header-menu">
            <p><a class="header-menu-title" routerLink="relatorios">Relatórios</a></p>
        </div>
        <p><a class="item-menu">Exportar XLS</a></p>
        <p><a class="item-menu">Exportar PDF</a></p>
        <p><a class="item-menu">Exportar PNG</a></p>
    </div>
    <div class="secao-menu">
        <div class="header-menu">
            <p><a class="header-menu-title" routerLink="cameras">Câmeras</a></p>
        </div>
        <p><a class="item-menu">Prédio</a></p>
        <p><a class="item-menu">Primeiro andar</a></p>
        <p><a class="item-menu">Segundo andar</a></p>
        <p><a class="item-menu">Terceiro andar</a></p>
    </div>
</nav>