a {
    text-decoration: none;
    color: inherit;
}

* {
    box-sizing:content-box;
    font-family: Roboto, sans-serif;
}


.menu-lateral {
    margin-left:0px;
    height: 100%;
    width: 360px;
    padding: 20px;
    text-align: left;
    font-size: 0.8em;
    background: linear-gradient(#0DA4C6, #00576A);
    color: white;
    justify-content: space-between;
}

.header-menu {
    background-color: #00576A;
    padding: 0.5% 20% 0.5% 10%;
}

.item-menu {
    padding-left: 12%;
}

#grafico-geral {
    display: flex;
    justify-content: center
}

#img-grafico-geral {
    max-width: 97%;
}

#estatisticas-gerais {
    display:grid;
    grid-template-columns: [col1] 1fr [col2] 1fr[col3] 1fr;
    grid-template-rows: [row1] auto [row2] auto [row3] auto;
    column-gap: auto;
    justify-items: center;
}