<p>dashboard works!</p>
<section id="conteudo">
    <div id="barra-superior">
    </div>
    <div id="div-grafico-geral">
        <h1>GERAL - DIÁRIO</h1>
        <img src="img/grafico_geral.png" alt="gráfico diário" id="img-grafico-geral">
    </div>
    <div id="estatisticas-gerais">
        <div id="estatistica">
            <h2 class="estatistica-numero">7.6K</h2>
            <h3 class="estatistica-numero">Média mensal</h3>
        </div>
        <div id="estatistica">
            <h2 class="estatistica-numero">1.8K</h2>
            <h3 class="estatistica-numero">Média semanal</h3>
        </div>
        <div id="estatistica">
            <h2 class="estatistica-numero">230K</h2>
            <h3 class="estatistica-numero">Média diária</h3>
        </div>
    </div>
</section>